.manage-schedule-container {
    padding: 20px;
    .m-s-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 18px;
        text-align: center;
        color: #183153;
    }

    .pick-hour-container {
        display: flex;
        gap: 20px !important;
        flex-wrap: wrap !important;
        padding-top: 20px;
        padding-bottom: 20px;
        
        button {
            padding: 5px 15px;
            border: none;
            cursor: pointer;
        }
        .btn-schedule {
            margin-left: 5px;
            &.active {
            background-color: #d38819;
            color: #fff;
        }
        }
    }

    .btn-save-schedule {
        margin-top: 20px;

        
    }
}