.manage-handbook-container {
    padding: 15px;
}
.mh-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.preview-img-container {
    display: flex;
    align-items: center;
}
.priview-image img {
    max-width: 150px;
    max-height: 120px;
    margin-left: 12px;
}
