.verify-email-container {

    .infor-booking {
        margin-top: 30px;
        font-size: 17px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        color: red;
    }
}